<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:00pm</td>        <!-- time    -->
        <td><a href='https://librarycarpentry.org/lc-marcedit/instructor/01-introduction.html'>Intro to MarcEdit</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:15pm</td>        <!-- time    -->
        <td><a href='https://librarycarpentry.org/lc-marcedit/instructor/02-top-level-menu-features.html'>Getting Started with MarcEdit</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>1:35pm</td>        <!-- time    -->
        <td><a href='https://librarycarpentry.org/lc-marcedit/instructor/03-working-with-MARC-files.html'>Working with MARC files</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>2:00pm</td>        <!-- time    -->
        <td><a href='https://librarycarpentry.org/lc-marcedit/instructor/04-layout-of-the-MarcEditor.html'>Layout of the MARC Editor</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>2:30pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00pm</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.org/lc-marcedit/instructor/05-profiling-your-MARC-data.html">Profiling your MARC data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:20pm</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.org/lc-marcedit/instructor/06-manipulating-MARC-data-basics.html">Manipulating MARC data basics</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:00pm</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.org/lc-marcedit/instructor/07-manipulating-MARC-data-advanced.html">Manipulating MARC data advanced</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>2:30pm</td>        <!-- time    -->
        <td>End - <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
